USE [master]
GO
/****** Object:  Database [LibraryManagement]    Script Date: 7/31/2026 1:16:24 AM ******/
CREATE DATABASE [LibraryManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LibraryManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LibraryManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryManagement]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/31/2026 1:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 7/31/2026 1:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookId] [int] IDENTITY(1,1) NOT NULL,
	[BookName] [varchar](150) NOT NULL,
	[BookDescription] [varchar](500) NOT NULL,
	[BookAuthor] [varchar](150) NOT NULL,
	[BookPages] [int] NOT NULL,
	[BookLanguage] [varchar](150) NOT NULL,
	[quantity] [int] NOT NULL,
	[qtyforborrow] [int] NOT NULL,
	[BookPrice] [int] NOT NULL,
	[BookImageName] [varchar](150) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BorrowRequests]    Script Date: 7/31/2026 1:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BorrowRequests](
	[borrowRequestid] [int] IDENTITY(1,1) NOT NULL,
	[User_id] [int] NOT NULL,
	[BookId] [int] NOT NULL,
	[Status] [varchar](150) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BorrowRequests] PRIMARY KEY CLUSTERED 
(
	[borrowRequestid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 7/31/2026 1:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[CartItemId] [int] IDENTITY(1,1) NOT NULL,
	[User_id] [int] NOT NULL,
	[BookId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[AddedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CartItems] PRIMARY KEY CLUSTERED 
(
	[CartItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactMessages]    Script Date: 7/31/2026 1:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactMessages](
	[ContactMessageId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Subject] [varchar](200) NOT NULL,
	[Message] [varchar](1000) NOT NULL,
	[SubmittedAt] [datetime2](7) NOT NULL,
	[IsResolved] [bit] NOT NULL,
 CONSTRAINT [PK_ContactMessages] PRIMARY KEY CLUSTERED 
(
	[ContactMessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IssuedBooks]    Script Date: 7/31/2026 1:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IssuedBooks](
	[issuedBookId] [int] IDENTITY(1,1) NOT NULL,
	[borrowRequestid] [int] NOT NULL,
	[issuedDate] [datetime2](7) NOT NULL,
	[returnDate] [datetime2](7) NOT NULL,
	[actualReturnDate] [datetime2](7) NULL,
	[fineAmount] [int] NOT NULL,
	[status] [varchar](150) NOT NULL,
	[BookId] [int] NULL,
	[User_id] [int] NULL,
 CONSTRAINT [PK_IssuedBooks] PRIMARY KEY CLUSTERED 
(
	[issuedBookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 7/31/2026 1:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[BookId] [int] NOT NULL,
	[BookName] [nvarchar](max) NOT NULL,
	[BookAuthor] [nvarchar](max) NOT NULL,
	[BookImageName] [nvarchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [int] NOT NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 7/31/2026 1:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[User_id] [int] NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[City] [nvarchar](max) NOT NULL,
	[PaymentMethod] [nvarchar](max) NOT NULL,
	[TotalAmount] [int] NOT NULL,
	[OrderStatus] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/31/2026 1:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_id] [int] IDENTITY(1,1) NOT NULL,
	[User_name] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Role] [varchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WishlistItems]    Script Date: 7/31/2026 1:16:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WishlistItems](
	[WishlistItemId] [int] IDENTITY(1,1) NOT NULL,
	[User_id] [int] NOT NULL,
	[BookId] [int] NOT NULL,
	[AddedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_WishlistItems] PRIMARY KEY CLUSTERED 
(
	[WishlistItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260713104049_Added Cart', N'8.0.22')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260714175230_AddWishlist', N'8.0.22')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260714184101_Added Orders', N'8.0.22')
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([BookId], [BookName], [BookDescription], [BookAuthor], [BookPages], [BookLanguage], [quantity], [qtyforborrow], [BookPrice], [BookImageName], [IsActive]) VALUES (1, N'Tempest', N'Cat Rose knows what it is to live in two worlds, in two times. Before - as Lady Catrine Rose of the Meridian Empire, chained to a loathsome lord with a dwindling fortune. And after - as the Widow Rose, queen of a pirate tavern on the Lyrian Sea, determined to be the master of her own fate.', N'Victoria Aveyard', 464, N'English', 10, 5, 4135, N'3c28cfea-60ba-415f-a770-9ad0a797bc7d Tempest.jpg', 1)
INSERT [dbo].[Books] ([BookId], [BookName], [BookDescription], [BookAuthor], [BookPages], [BookLanguage], [quantity], [qtyforborrow], [BookPrice], [BookImageName], [IsActive]) VALUES (3, N'Powerless Ultra Deluxe Edition: Volume 1', N'This highly collectible edition features a special foiled cover, foiled endpapers, digital sprayed edges, plate section with colour fan artwork from 5 different artists, exclusive letter from Lauren Roberts and a digital signature.', N'Lauren Roberts', 528, N'English', 10, 4, 9395, N'42747cd3-5363-40dc-b467-a8d3748a6f82 Powerless Ultra Deluxe Edition.jpg', 1)
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [BookId], [BookName], [BookAuthor], [BookImageName], [Quantity], [Price]) VALUES (1, 1, 1, N'Tempest', N'Victoria Aveyard', N'3c28cfea-60ba-415f-a770-9ad0a797bc7d Tempest.jpg', 1, 4135)
INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [BookId], [BookName], [BookAuthor], [BookImageName], [Quantity], [Price]) VALUES (2, 1, 4, N'Tempting Venom The Vipers 3', N'Rina Kent', N'93cad2dc-b8ea-4e69-9e02-26eaed50794e Tempting Venom The Vipers 3.jpg', 1, 3195)
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [User_id], [FullName], [Phone], [Address], [City], [PaymentMethod], [TotalAmount], [OrderStatus], [CreatedAt]) VALUES (1, 3, N'Mansoor Ahmed', N'123456', N'mmmmmmmmm', N'Karachi', N'Cash on Delivery', 7330, N'Delivered', CAST(N'2026-07-30T22:18:38.4844706' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([User_id], [User_name], [Email], [Password], [Role], [CreatedAt]) VALUES (1, N'Admin', N'admin@gmail.com', N'admin', N'Admin', CAST(N'2026-07-30T23:55:41.4833333' AS DateTime2))
INSERT [dbo].[Users] ([User_id], [User_name], [Email], [Password], [Role], [CreatedAt]) VALUES (2, N'Librarian', N'librarian@gmail.com', N'librarian', N'Librarian', CAST(N'2026-07-30T15:52:04.0000000' AS DateTime2))
INSERT [dbo].[Users] ([User_id], [User_name], [Email], [Password], [Role], [CreatedAt]) VALUES (9, N'User', N'user@gmail.com', N'user', N'User', CAST(N'2026-07-31T01:13:59.1296886' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[WishlistItems] ON 

INSERT [dbo].[WishlistItems] ([WishlistItemId], [User_id], [BookId], [AddedAt]) VALUES (2, 3, 2, CAST(N'2026-07-30T22:10:56.9686436' AS DateTime2))
SET IDENTITY_INSERT [dbo].[WishlistItems] OFF
GO
/****** Object:  Index [IX_BorrowRequests_BookId]    Script Date: 7/31/2026 1:16:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_BorrowRequests_BookId] ON [dbo].[BorrowRequests]
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BorrowRequests_User_id]    Script Date: 7/31/2026 1:16:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_BorrowRequests_User_id] ON [dbo].[BorrowRequests]
(
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CartItems_BookId]    Script Date: 7/31/2026 1:16:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_CartItems_BookId] ON [dbo].[CartItems]
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CartItems_User_id]    Script Date: 7/31/2026 1:16:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_CartItems_User_id] ON [dbo].[CartItems]
(
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IssuedBooks_BookId]    Script Date: 7/31/2026 1:16:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_IssuedBooks_BookId] ON [dbo].[IssuedBooks]
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IssuedBooks_borrowRequestid]    Script Date: 7/31/2026 1:16:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_IssuedBooks_borrowRequestid] ON [dbo].[IssuedBooks]
(
	[borrowRequestid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IssuedBooks_User_id]    Script Date: 7/31/2026 1:16:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_IssuedBooks_User_id] ON [dbo].[IssuedBooks]
(
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItems_OrderId]    Script Date: 7/31/2026 1:16:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_OrderItems_OrderId] ON [dbo].[OrderItems]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WishlistItems_BookId]    Script Date: 7/31/2026 1:16:25 AM ******/
CREATE NONCLUSTERED INDEX [IX_WishlistItems_BookId] ON [dbo].[WishlistItems]
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BorrowRequests]  WITH CHECK ADD  CONSTRAINT [FK_BorrowRequests_Books_BookId] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([BookId])
GO
ALTER TABLE [dbo].[BorrowRequests] CHECK CONSTRAINT [FK_BorrowRequests_Books_BookId]
GO
ALTER TABLE [dbo].[BorrowRequests]  WITH CHECK ADD  CONSTRAINT [FK_BorrowRequests_Users_User_id] FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([User_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BorrowRequests] CHECK CONSTRAINT [FK_BorrowRequests_Users_User_id]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Books_BookId] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([BookId])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Books_BookId]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Users_User_id] FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([User_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Users_User_id]
GO
ALTER TABLE [dbo].[IssuedBooks]  WITH CHECK ADD  CONSTRAINT [FK_IssuedBooks_Books_BookId] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([BookId])
GO
ALTER TABLE [dbo].[IssuedBooks] CHECK CONSTRAINT [FK_IssuedBooks_Books_BookId]
GO
ALTER TABLE [dbo].[IssuedBooks]  WITH CHECK ADD  CONSTRAINT [FK_IssuedBooks_BorrowRequests_borrowRequestid] FOREIGN KEY([borrowRequestid])
REFERENCES [dbo].[BorrowRequests] ([borrowRequestid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IssuedBooks] CHECK CONSTRAINT [FK_IssuedBooks_BorrowRequests_borrowRequestid]
GO
ALTER TABLE [dbo].[IssuedBooks]  WITH CHECK ADD  CONSTRAINT [FK_IssuedBooks_Users_User_id] FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([User_id])
GO
ALTER TABLE [dbo].[IssuedBooks] CHECK CONSTRAINT [FK_IssuedBooks_Users_User_id]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders_OrderId]
GO
ALTER TABLE [dbo].[WishlistItems]  WITH CHECK ADD  CONSTRAINT [FK_WishlistItems_Books_BookId] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([BookId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WishlistItems] CHECK CONSTRAINT [FK_WishlistItems_Books_BookId]
GO
USE [master]
GO
