USE [master]
GO
/****** Object:  Database [LibraryManagement]    Script Date: 7/11/2026 4:01:00 PM ******/
CREATE DATABASE [LibraryManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LibraryManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LibraryManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryManagement]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/11/2026 4:01:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 7/11/2026 4:01:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookId] [int] IDENTITY(1,1) NOT NULL,
	[BookName] [varchar](150) NOT NULL,
	[BookDescription] [varchar](500) NOT NULL,
	[BookAuthor] [varchar](150) NOT NULL,
	[BookPages] [int] NOT NULL,
	[BookLanguage] [varchar](150) NOT NULL,
	[quantity] [int] NOT NULL,
	[qtyforborrow] [int] NOT NULL,
	[BookPrice] [int] NOT NULL,
	[BookImageName] [varchar](150) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BorrowRequests]    Script Date: 7/11/2026 4:01:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BorrowRequests](
	[borrowRequestid] [int] IDENTITY(1,1) NOT NULL,
	[User_id] [int] NOT NULL,
	[BookId] [int] NOT NULL,
	[Status] [varchar](150) NOT NULL,
 CONSTRAINT [PK_BorrowRequests] PRIMARY KEY CLUSTERED 
(
	[borrowRequestid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IssuedBooks]    Script Date: 7/11/2026 4:01:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IssuedBooks](
	[issuedBookId] [int] IDENTITY(1,1) NOT NULL,
	[User_id] [int] NOT NULL,
	[BookId] [int] NOT NULL,
	[issuedDate] [datetime2](7) NOT NULL,
	[returnDate] [datetime2](7) NOT NULL,
	[fineAmount] [int] NOT NULL,
	[status] [varchar](150) NOT NULL,
 CONSTRAINT [PK_IssuedBooks] PRIMARY KEY CLUSTERED 
(
	[issuedBookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/11/2026 4:01:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_id] [int] IDENTITY(1,1) NOT NULL,
	[User_name] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Role] [varchar](20) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260705094101_Second-Initial', N'8.0.22')
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([BookId], [BookName], [BookDescription], [BookAuthor], [BookPages], [BookLanguage], [quantity], [qtyforborrow], [BookPrice], [BookImageName], [IsActive]) VALUES (1, N'The Alchemist', N'the alchemis is one of the most popular and interesting story about a person who walked in the desert', N'Paulo Coelho', 340, N'English', 20, 10, 5000, N'dd021624-a5fa-4ae2-9163-b92c2cff4e94 alchemist.jpg', 1)
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[BorrowRequests] ON 

INSERT [dbo].[BorrowRequests] ([borrowRequestid], [User_id], [BookId], [Status]) VALUES (1, 1, 1, N'Pending')
INSERT [dbo].[BorrowRequests] ([borrowRequestid], [User_id], [BookId], [Status]) VALUES (2, 3, 1, N'Pending')
INSERT [dbo].[BorrowRequests] ([borrowRequestid], [User_id], [BookId], [Status]) VALUES (1002, 1002, 1, N'Pending')
SET IDENTITY_INSERT [dbo].[BorrowRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([User_id], [User_name], [Email], [Password], [Role], [CreatedAt]) VALUES (1, N'Aliyan', N'aliyanahmed6464@gmail.com', N'aliyan', N'User', CAST(N'2026-07-05T14:59:34.4435113' AS DateTime2))
INSERT [dbo].[Users] ([User_id], [User_name], [Email], [Password], [Role], [CreatedAt]) VALUES (2, N'admin', N'admin@gmail.com', N'admin', N'Admin', CAST(N'2026-07-05T15:00:06.8022601' AS DateTime2))
INSERT [dbo].[Users] ([User_id], [User_name], [Email], [Password], [Role], [CreatedAt]) VALUES (3, N'Mansoor', N'mansoor@gmail.com', N'mansoor', N'User', CAST(N'2026-07-05T20:27:10.7148619' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_BorrowRequests_BookId]    Script Date: 7/11/2026 4:01:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_BorrowRequests_BookId] ON [dbo].[BorrowRequests]
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BorrowRequests_User_id]    Script Date: 7/11/2026 4:01:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_BorrowRequests_User_id] ON [dbo].[BorrowRequests]
(
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IssuedBooks_BookId]    Script Date: 7/11/2026 4:01:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_IssuedBooks_BookId] ON [dbo].[IssuedBooks]
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IssuedBooks_User_id]    Script Date: 7/11/2026 4:01:00 PM ******/
CREATE NONCLUSTERED INDEX [IX_IssuedBooks_User_id] ON [dbo].[IssuedBooks]
(
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BorrowRequests]  WITH CHECK ADD  CONSTRAINT [FK_BorrowRequests_Books_BookId] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([BookId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BorrowRequests] CHECK CONSTRAINT [FK_BorrowRequests_Books_BookId]
GO
ALTER TABLE [dbo].[BorrowRequests]  WITH CHECK ADD  CONSTRAINT [FK_BorrowRequests_Users_User_id] FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([User_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BorrowRequests] CHECK CONSTRAINT [FK_BorrowRequests_Users_User_id]
GO
ALTER TABLE [dbo].[IssuedBooks]  WITH CHECK ADD  CONSTRAINT [FK_IssuedBooks_Books_BookId] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([BookId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IssuedBooks] CHECK CONSTRAINT [FK_IssuedBooks_Books_BookId]
GO
ALTER TABLE [dbo].[IssuedBooks]  WITH CHECK ADD  CONSTRAINT [FK_IssuedBooks_Users_User_id] FOREIGN KEY([User_id])
REFERENCES [dbo].[Users] ([User_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IssuedBooks] CHECK CONSTRAINT [FK_IssuedBooks_Users_User_id]
GO
USE [master]
GO
